 // Bourbon & Neat
@import '../../bower_components/bourbon/dist/bourbon';
@import '../../bower_components/neat/app/assets/stylesheets/neat';

// Custom Styles
body {
  background: #fafafa;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

#todo-container {
  width: 350px;
  border-radius: 5px;
  background-color: #faf8f2;
  padding: 20px;
  margin: 20px;
  box-shadow: 2px 2px 14px #d3d3d3;
  // background-image: linear-gradient(rgba(255,255,255,.5), rgba(255,255,255,0));
  h1 {
    font-size: 40px;
    color: #f26934;
    text-align: center;
    text-shadow:0 -1px 1px rgba(0,0,0,0.3);
  }
}

#new-todo {
  width: 200px;
}

.thing
  li {
    list-style: none;
    display: inline-block;
    font-size: 20px;
    color: #f26934;
  }
  ul {
    padding: 0px;
  }

.toggle {
  margin-right: 10px;
}
